body {
    background-color: #EDF4F2;
}

div#container {
    margin: auto;
    padding: 2rem;
    width: 45rem;
    text-align: center;
}

h1 {
    margin: 0 1rem;
    padding: 1rem;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: #1995AD;
}

form #wikipedia-url {
    margin: 1rem 0.5rem 2rem auto;
    outline: none;
    border: none;
    width: 60%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1.1rem;
}

form #wikipedia-url:focus {
    box-shadow: 1px 1px 1px rgba(62, 58, 58, 0.4);
    border: 1px ridge #A1D6E2;
}

div button#get-word-count {
    margin: auto auto auto auto;
    padding: 0.70rem 1rem 0.70rem 1rem;
    background: linear-gradient(90deg, #A1D6E2, #1995AD);
    box-shadow: 6px 2px 6px rgba(62, 58, 58, 0.4);
    border: none;
    border-radius: 2rem;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
}

div button#get-word-count:hover {
    transform: scale(1.1);
    cursor: pointer;
}

div.hidden {
    display: none;
}

h2 {
    text-align: center;
    overflow-wrap: normal;
    color: #1995AD;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
}

#number-of-words {
    font-weight: 900;
}

@media only screen and (max-width: 768px) {

    div#container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    h1 {
        margin: 0;
        padding: 1rem 0;
        font-size: 2.5rem;
    }

    form #word-count-form {
        display: inline-block;
    }

    form #wikipedia-url {
        margin: 1rem 0rem 2rem 0;
        width: 70%;
        height: 3rem;
        font-size: 1.2rem;
    }

    div button#get-word-count {
        width: 55%;
        height: 5.5rem;
        font-size: 1.5rem;
    }
}

